.banner-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-image: url(https://image.tmdb.org/t/p/w780/Ae6beVfGHtPY2L4ZVFni10YIBZI.jpg);
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}

.no-movie-banner-container {
  width: 100%;
  background: linear-gradient(
      to top right,
      rgba(244, 50, 127, 0.4),
      rgba(73, 56, 113, 0.4) 90%
    ),
    url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80")
      no-repeat center center;
  background-size: cover;
}

.banner {
  display: flex;
  margin: 0 auto;
  max-width: 1250px;
  padding: 50px;
}

.movie-details-poster-wrapper {
  width: 400px;
  height: 513px;
}

.no-movie-poster {
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  border: 2px solid#FF7955;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.banner-text {
  padding-right: 150px;
  padding-left: 70px;
  color: white;
  font-family: "Oswald", sans-serif;
}

#title {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 40px;
}

.under-title-data {
  display: flex;
  align-items: center;
}

.under-title-data p {
  margin-right: 10px;
}

#rating {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid white;
}

#overview {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
}

.overview {
  padding-bottom: 20px;
}

.buttons-wrapper {
  margin-top: 145px;
  display: flex;
}

.trailer {
  text-decoration: none;
  color: #493871;
  font-weight: bold;
  background-color: rgba(255, 192, 215, 0.9);
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  width: 120px;
  text-transform: uppercase;
  text-align: center;
  transition: 0.3s;
  margin-right: 100px;
}

.trailer:hover {
  background-color: #ffc0d7;
  transition: 0.3s;
}

.no-trailer {
  text-decoration: none;
  color: #493871;
  font-weight: bold;
  background-color: #ffc0d7;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  width: 155px;
  text-transform: uppercase;
  text-align: center;
  margin-right: 100px;
  margin-top: 0px;
}

.play-movie {
  transition: 0.3s;
  text-decoration: none;
  color: #493871;
  font-weight: bold;
  background-color: rgba(255, 192, 215, 0.9);
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  width: 120px;
  text-transform: uppercase;
  text-align: center;
  height: 44px;
  box-sizing: border-box;
}

.play-movie:hover {
  background-color: #ffc0d7;
  transition: 0.3s;
}
/*Movie cast css*/

#no-photo-cast {
  width: 100%;
  height: 285.5px;
}

.movie-cast-container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 25px;
}

.movie-cast-title {
  text-transform: uppercase;
  color: #493871;
}

.movie-cast-cards {
  display: flex;
  flex-wrap: no-wrap;
  overflow: auto;
}

.movie-cast-cards::-webkit-scrollbar {
  height: 10px;
  background-color: rgba(255, 121, 85, 0.1);
  border-radius: 9px;
}

.movie-cast-cards::-webkit-scrollbar-thumb {
  background-color: #ff7955;
  border-radius: 9px;
  background-clip: content-box;
  width: 5px;
}

.cast-card {
  margin: 10px;
  max-width: 190px;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.2s;
}

.cast-card img {
  width: 100%;
  transition: 0.2s;
}

.cast-card:hover {
  border: 2px solid #ff7955;
}

.actor-link {
  text-decoration: none;
  cursor: pointer;
  color: #0f1843;
}

.no-cast-photo {
  height: 285px;
  width: 190px;
  text-transform: uppercase;
  border: 2px solid#FF7955;
  background-color: #ff7955;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.name-container {
  background-color: rgba(255, 192, 215, 0.2);
  margin-top: -3px;
  flex: 1;
  font-family: sans-serif;
  height: 100px;
}

.actor {
  font-weight: bold;
  padding-top: 10px;
  margin: 0;
  margin-left: 7px;
}

.character {
  margin-left: 7px;
}
