#no-photo {
  width: 180px;
  height: 275px;
}

.search-results-wrapper {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

.search-results {
  padding-top: 50px;
}

.movie-container {
  display: flex;
  flex-wrap: no-wrap;
  overflow: auto;
  margin-bottom: 75px;
}

.movie-container::-webkit-scrollbar {
  height: 15px;
}

.movie-container::-webkit-scrollbar-thumb {
  background-color: #4b8978;
  border-radius: 9px;
  background-clip: content-box;
  border: 3px solid transparent;
  width: 5px;
}

.movie-container::-webkit-scrollbar-track {
  background-color: white;
  border: 1px solid transparent;
}

.movie-container-wrapper {
  display: flex;
  align-items: center;
}

.arrow {
  background-color: #4b8978;
  color: white;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.movie {
  margin: 10px;
  max-width: 190px;
  width: 100%;
  flex: 0 0 auto;
}

.movie img {
  height: 100%;
  max-height: 264px;
  border-radius: 5px;
  border: 2px solid #4b8978;
}

.movie-title {
  font-family: sans-serif;
  margin-bottom: 0;
  font-weight: bold;
}

.movie-release-date {
  font-family: sans-serif;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  color: #0f1843;
}