.search-results-wrapper {
  max-width: 1250px;
  width: 80vw;
  margin: 0 auto;
}

.search-results {
  padding-top: 25px;
  text-transform: uppercase;
  font-size: 25px;
  color: var(--purple);
}

.movie-container {
  display: flex;
  flex-wrap: no-wrap;
  overflow: auto;
  margin-bottom: 75px;
}

.movie-container::-webkit-scrollbar {
  height: 10px;
  cursor: auto;
  background-color: rgba(255, 121, 85, 0.1);
  border-radius: 9px;
}

.movie-container::-webkit-scrollbar-thumb {
  background-color: var(--orange);
  border-radius: 9px;
  background-clip: content-box;
  width: 5px;
}

.link {
  text-decoration: none;
  color: var(--purple);
  outline: none;
}

.link:focus {
  text-decoration: underline double var(--orange);
}
