.header-container {
  display: flex;
  align-content: center;
  padding: 20px;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

.header {
  text-decoration: none;
  color: #493871;
  letter-spacing: 5px;
  line-height: 1;
}
  