.header-container {
  display: flex;
  align-content: center;
  margin: 0;
  padding: 20px;
}

.header-wrapper {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.header {
  text-decoration: none;
  color: #0f1843;
}
  