#no-photo {
  width: 180px;
  height: 275px;
}

.trending-container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

.trending-wrapper {
  margin-top: 30px;
  padding-bottom: 15px;
}

.trending-movie {
  position: relative;
  margin: 10px;
  max-width: 190px;
  width: 100%;
  flex: 0 0 auto;
}

.trending-movie img {
  height: 100%;
  max-height: 264px;
  border-radius: 5px;
  border: 2px solid #4b8978;
}

.btn {
  background-color: transparent;
  color: #4b8978;
  border: 3px solid #4b8978;
  padding: 10px;
  letter-spacing: 5px;
  border-radius: 10px;
  outline: 0;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
  transition: 0.5s;
}

.active {
  background-color: #4b8978;
  color: #fff;
  border: 3px solid #4b8978;
}

.trending-movie-container {
  display: flex;
  flex-wrap: no-wrap;
  overflow: auto;
  margin-bottom: 75px;
}

.trending-movie-container::-webkit-scrollbar {
  height: 15px;
}

.trending-movie-container::-webkit-scrollbar-thumb {
  background-color: #4b8978;
  border-radius: 9px;
  background-clip: content-box;
  border: 3px solid transparent;
  width: 5px;
}

.trending-movie-container::-webkit-scrollbar-track {
  background-color: white;
  border: 1px solid transparent;
}

.avg-vote {
  position: absolute;
  margin-left: 160px;
  margin-top: -10px;
  background-color: #4b8978;
  color: black;
  padding: 5px;
  border-radius: 8px;
  font-size: 12px;
  width: 17px;
  text-align: center;
}
