body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  color: #0f1843;
  text-decoration: none;
  background-color: var(--background-pink);
}

:root {
  --orange: #ff7955;
  --pink: #f4327f;
  --purple: #493871;
  --light-pink: #ffc0d7;
  --background-pink: #fff4f8;
}
