body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #0f1843;
}

#no-photo {
  width: 185px;
  height: 275px;
}

.header-container {
  display: flex;
  align-content: center;
  margin: 0;
  padding: 20px;
  border: 1px dotted black;
}

.header-container header {
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}

.input-container {
  align-items: center;
  border: 1px dotted black;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.input-container input {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 100px;
  padding: 7px;
  outline: none;
}

.input-container span {
  position: relative;
  left: -30px;
  cursor: pointer;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  margin: 10px;
  max-width: 185px;
  width: 100%;
}

.movie img {
  height: 100%;
  max-height: 264px;
  border-radius: 5px;
}

.movie h6,
p {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
