.cast-card {
  text-decoration: none;
  cursor: pointer;
  color: var(--purple);
  margin: 10px;
  flex: 0 0 auto;
  border-radius: 5px;
  overflow: hidden;
  outline: none;
}

.cast-card:hover {
  border: 2px solid var(--orange);
}

.cast-card:focus {
  border: 2px solid var(--orange);
}

.no-cast-photo {
  height: 285px;
  width: 190px;
  text-transform: uppercase;
  background-color: var(--orange);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0;
}

.name-container {
  background-color: rgba(255, 192, 215, 0.2);
  margin-top: -3px;
  height: 100px;
}

.actor {
  margin: 0;
  margin-left: 7px;
}

.character {
  margin-left: 7px;
}
