.movie-cast-container {
  max-width: 1250px;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 25px;
}

.movie-cast-title {
  text-transform: uppercase;
  color: var(--purple);
}

.movie-cast-cards {
  display: flex;
  flex-wrap: no-wrap;
  overflow: auto;
  padding-top: 20px;
}

.movie-cast-cards::-webkit-scrollbar {
  height: 10px;
  background-color: rgba(255, 121, 85, 0.1);
  border-radius: 9px;
}

.movie-cast-cards::-webkit-scrollbar-thumb {
  background-color: var(--orange);
  border-radius: 9px;
  background-clip: content-box;
  width: 5px;
}
